# m h  dom mon dow   command
0  4 * * *      /data/deephunter/qm/scripts/run_campaign.sh
30 5 * * *      /data/deephunter/qm/scripts/optimize_db.sh
0  6 * * *      /data/deephunter/qm/scripts/backup.sh