Authlib==1.5.2
beautifulsoup4==4.13.4
celery==5.5.2
Django==5.2
django-auto-logout==0.5.1
django-dbbackup==4.2.1
django-extensions==4.1
django-markup==1.9.1
django-simple-history==3.8.0
ldap3==2.9.1
lxml==5.4.0
mysqlclient==2.2.7
numpy==2.2.5
python-gnupg==0.5.4
redis==6.0.0
requests==2.32.3
scipy==1.15.2
vt-py==0.20.0
