#container {
	margin: 0 auto;
}

nav {
	background-color: #000;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
	background-color: #000;
}

nav a {
	display:block;
	padding:0 15px;	
	color:#FFF;
	line-height: 55px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #79aec8;
    color: #fff;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 50px; /* the height of the main nav */
	z-index:1999;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:230px; /*170px*/
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-50px; 
	left:230px; /*170px;*/
}

nav a.active {
	background-color: #79aec8;
}
nav a.deephunter {
	background-color: #417690;
	font-weight: bold;
	margin-right:-4px;
}
	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* BLINKING CURSOR */

.blinking-cursor {
  font-weight: 100;
  font-size: 17px;
  /*color: #2E3D48;*/
  color:#fff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    /*color: black;*/
	color:#fff;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    /*color: black;*/
	color:#fff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    /*color: black;*/
	color:#fff;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    /*color: black;*/
	color:#fff;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    /*color: black;*/
	color:#fff;
  }
}

/*MITRE BOXES*/
div.mitre_tactic {
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	width:250px;
	margin:5px;
}

div.mitre_red {
	float:left;
	border-radius: 5px;
	border: solid 2px #cccccc;
	background: #eeeeee;
	width: 25px;
	height: 25px;
	margin:3px;
}
div.mitre_green {
	float:left;
	border-radius: 5px;
	border: 2px solid #3AAD0D;
	background: #9EE782;
	width: 25px;
	height: 25px;
	margin: 3px;
}
div.mitre_clear {
	clear:both;
}

textarea.hash {
	width:700px;
	height:300px;
	font-family: monospace;
}

li.hash {
	font-family: monospace;
}

table.hash {
	font-family: monospace;
}

td.vtright {
	text-align:right;
	width:100px;
}

td.vtcenter, th.vtcenter {
	text-align:center;
	width:100px;
}

div.margin10 {
	margin-left:10px;
}
