{% extends "base.html" %}

{% block body %}
<pre>
 _____  ______ ______ _____  _    _ _    _ _   _ _______ ______ _____  
|  __ \|  ____|  ____|  __ \| |  | | |  | | \ | |__   __|  ____|  __ \ 
| |  | | |__  | |__  | |__) | |__| | |  | |  \| |  | |  | |__  | |__) |
| |  | |  __| |  __| |  ___/|  __  | |  | | . ` |  | |  |  __| |  _  / 
| |__| | |____| |____| |    | |  | | |__| | |\  |  | |  | |____| | \ \ 
|_____/|______|______|_|    |_|  |_|\____/|_| \_|  |_|  |______|_|  \_\
                                                       Version: {{ version }}
</pre>
{% endblock %}
