{% extends "base.html" %}
{% load qm_extras %}

{% block style %}
<link rel="stylesheet" href="/static/css/stats.css" />
<link href="/static/vis-timeline/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css" />
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
{% endblock %}

{% block body %}
<h1>Endpoint timeline investigation</h1>
<form action="" method="get">
	{% csrf_token %}
	<div id="fsearch">
		<input name="hostname" type="text" placeholder="Endpoint name" value="{{ hostname }}">
		<br />
		<input type="checkbox" id="compactview">
		<label for="compactview">Compact view</label>
		{% if hostname %}
		<br />
		[<a href="/netview?hostname={{ hostname }}" target="_blank">Send to Netview</a>]
		{% endif %}
	</div>
	<div id="fhelp">
		<ul>
			<li>Use pad up/down to zoom in/out</li>
			<li>Click to drag the timeline</li>
			<li>Click on item to highlight related analytics (based on storyline ID)</li>
			<li>Double click to open related events or threats (new window)</li>
		</ul>
	</div>
	<div id="fclear"></div>
</form>


{% if hostname %}
<div id="visualization"></div>

<div id="tabs">
  <ul>
    <li><a href="#hostuser"><span>HOST/USER</span></a></li>
    <li><a href="#activedirectory"><span>ACTIVE DIRECTORY</span></a></li>
    <li><a href="#appinventory"><span>APP INVENTORY</span></a></li>
  </ul>
  <div id="hostuser">
	<ul>
		<li><b>Hostname:</b> {{ machinedetails.computerName }}</li>
		<li><b>Site:</b> {{ machinedetails.siteName }}</li>
		<li><b>OS:</b> {{ machinedetails.osName }} ({{ machinedetails.osArch}})</li>
		<li><b>Username:</b> {{ username }}</li>
        <li><b>user:</b> {{ user_name }}</li>
        <li><b>Job Title:</b> {{ job_title }}</li>
        <li><b>Business Unit:</b> {{ business_unit }}</li>
        <li><b>Location:</b> {{ location }}</li>
	</ul>
  </div>
  <div id="activedirectory">
	<h3>computerDistinguishedName</h3>
	{% with machinedetails.activeDirectory.computerDistinguishedName|classname as modelclass %}
	{% if modelclass == "str" %}
		<ul><li>{{ machinedetails.activeDirectory.computerDistinguishedName }}</li></ul>
	{% elif modelclass == "list" %}
		<ul>		
			{% for detail in machinedetails.activeDirectory.computerDistinguishedName %}
				<li>{{ detail }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	
	<h3>computerMemberOf</h3>
	{% with machinedetails.activeDirectory.computerMemberOf|classname as modelclass %}
	{% if modelclass == "str" %}
		<ul><li>{{ machinedetails.activeDirectory.computerMemberOf }}</li></ul>
	{% elif modelclass == "list" %}
		<ul>		
			{% for detail in machinedetails.activeDirectory.computerMemberOf %}
				<li>{{ detail }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	
	<h3>lastUserDistinguishedName</h3>
	{% with machinedetails.activeDirectory.lastUserDistinguishedName|classname as modelclass %}
	{% if modelclass == "str" %}
		<ul><li>{{ machinedetails.activeDirectory.lastUserDistinguishedName }}</li></ul>
	{% elif modelclass == "list" %}
		<ul>		
			{% for detail in machinedetails.activeDirectory.lastUserDistinguishedName %}
				<li>{{ detail }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	
	<h3>lastUserMemberOf</h3>
	{% with machinedetails.activeDirectory.lastUserMemberOf|classname as modelclass %}
	{% if modelclass == "str" %}
		<ul><li>{{ machinedetails.activeDirectory.lastUserMemberOf }}</li></ul>
	{% elif modelclass == "list" %}
		<ul>		
			{% for detail in machinedetails.activeDirectory.lastUserMemberOf %}
				<li>{{ detail }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	
  </div>
  <div id="appinventory">
	<ul>
		<table>
			<tr>
				<th>Name</th>
				<th>Installed date</th>
				<th>Size</th>
				<th>Version</th>
				<th>Publisher</th>
			</tr>
			{% for app in apps %}
				<tr>
					<td>{{ app.name }}</td>
					<td class="acenter">{{ app.installedDate|truncatechars:11 }}</td>
					<td class="aright">{{ app.size }}</td>
					<td class="acenter">{{ app.version }}</td>
					<td>{{ app.publisher }}</td>
				</tr>
			{% endfor %}
		</table>
	</ul>
  </div>
</div>

<script type="text/javascript" nonce="jc3vgs67dm">
$( "#tabs" ).tabs();

var mygroups = []
{% for group in groups %}
	mygroups.push('{{ group.content }}');
{% endfor %}

var groups = new vis.DataSet([
{% for group in groups %}
	{id: {{ group.id }}, content: '{{ group.content }}'},
{% endfor %}
]);

// create a dataset with items
// note that months are zero-based in the JavaScript Date object, so month 3 is April
var items = new vis.DataSet([
{% for item in items %}
	{
		id: {{ item.id }},
		group: {{ item.group }},
		start: new Date({{ item.start|date:"Y" }},{{ item.start|date:"n-1" }},{{ item.start|date:"j" }}),
		end: new Date({{ item.end|date:"Y" }},{{ item.end|date:"n-1" }},{{ item.end|date:"j" }}),
		title: "DATE: {{ item.start|date:"Y-n-j" }}<br />{{ item.description }}<br />{{ item.storylineid }}"
	},
{% endfor %}
]);

  // create visualization
var container = document.getElementById('visualization');
var options = {
	// option groupOrder can be a property name or a sort function
	// the sort function must compare two groups and return a value
	//     > 0 when a > b
	//     < 0 when a < b
	//       0 when a == b
	groupOrder: function (a, b) {
		return a.value - b.value;
	},
	editable: false,
	stack: true,
	min: new Date({{ mindate|date:"Y" }},{{ mindate|date:"n-1" }},{{ mindate|date:"j" }}),
	max: new Date({{ maxdate|date:"Y" }},{{ maxdate|date:"n-1" }},{{ maxdate|date:"j" }})
};

var timeline = new vis.Timeline(container);
timeline.setOptions(options);
timeline.setGroups(groups);
timeline.setItems(items);

function formatDate(date) {
  const year = date.getFullYear();
  const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-indexed
  const day = date.getDate().toString().padStart(2, '0');

  return `${year}-${month}-${day}`;
}

// Double click to play query in new window
timeline.on('doubleClick', function (properties) {
	if (properties['group'] == '998') {
		// Double click not available for apps group
		return false;
	} else if (properties['group'] == '999') {
		window.open('{{ S1_THREATS_URL|safe }}', '_blank');
	} else {
		window.open('/events/{{hostname}}/'+mygroups[properties['group']]+'/'+formatDate(properties['time'])+'/', '_blank');
	}
});

// Simple click to highlight items with same storylineID as the clicked item
var storylineid = {{ storylineid_json|safe }}
timeline.on("click", function(properties) {
	if (properties['group'] == '998') {
		// Click not available for apps (because they don't have storylineID)
		return false;
	} else {
		var nodeID = properties['item'];
		if (nodeID) {
		
			// Clean all previously selected items
			for (var i=0 ; i < Object.keys(storylineid).length ; i++) {
				var node = items.get(Number(Object.keys(storylineid)[i]));
				node.className = 'blue';
				items.update(node);
			}
		
			// Initially only the clicked ID added to the array (more itemID will be added later)
			var id_to_highlight = [nodeID];

			// Only highlight nodes if the clicked node has a Storyline ID (if empty, do nothing)
			if (storylineid[nodeID] != '') {

				// for each storylineID associated to the clicked node
				for (var s=0 ; s < storylineid[nodeID].length ; s++) {
					var current_storylineid_clicked_item = storylineid[nodeID][s];
					
					// Recursively list all itemID in the JSON object
					for (var i=0 ; i < Object.keys(storylineid).length ; i++) {
						var current_item_id = Number(Object.keys(storylineid)[i]);
						
						// for each storylineID of the current item
						for (var x=0; x<storylineid[current_item_id].length; x++) {
							var current_storylineid_current_item = storylineid[current_item_id][x]
							if (current_storylineid_current_item == current_storylineid_clicked_item) {
								// Only add to array if not already added
								if (id_to_highlight.indexOf(current_item_id) === -1) {
									id_to_highlight.push(current_item_id);
								}
							}
						}
					}
				}
							
				// Highlight all relevant items in red
				for (var i=0; i<id_to_highlight.length; i++) {
					var clickedNode = items.get(id_to_highlight[i]);
					clickedNode.className = 'red';
					items.update(clickedNode);
				}
			}
		}
	}
});

var toggle = false;
$("#compactview").click(function() {
        $("input[type=checkbox]").attr("checked",!toggle);
        options['stack'] = toggle;
		timeline.setOptions(options);
		toggle = !toggle;
});

</script>
{% endif %}
{% endblock %}
