<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="/static/css/trend.css" />
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/canvasjs/jquery.canvasjs.min.js"></script>
</head>
<body>

<div class="charts_left">
	<h1>Data for {{ query }}</h1>
</div>
<div class="charts_left">
	<div>
	[<a href="/admin/qm/query/{{ query.id }}/change/" target="_blank">edit in admin</a>]
	[<a href="/admin/qm/endpoint/?snapshot__query__name={{ query.name }}" target="_blank">see endpoints</a>]
	</div>
	<div><b>#hits z-score threshold:</b> {{ query.anomaly_threshold_count }}</div>
	<div><b>#endpoints z-score threshold:</b> {{ query.anomaly_threshold_endpoints }}</div>
</div>
<div class="clear"></div>

<div class="charts_left">
	<div id="chartContainer_runtime"></div>
	<div id="chartContainer_count"></div>
	<div id="chartContainer_endpoints"></div>
</div>
<div class="charts_right">
	{% if c1_name %}<div id="chartContainer_c1"></div>{% endif %}
	{% if c2_name %}<div id="chartContainer_c2"></div>{% endif %}
	{% if c3_name %}<div id="chartContainer_c3"></div>{% endif %}
</div>

<script nonce="jvfd35kaz9">
window.onload = function () {

var options_runtime = {
	animationEnabled: true,
	axisX:{
		valueFormatString: "DD MMM"
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [
	{
		type: "line",
		showInLegend: true,
		name: "runtime (sec)",
		markerType: "square",
		xValueFormatString: "DD MMM, YYYY",
		color: "#2596be",
		yValueFormatString: "#,##0",
		dataPoints: [
			{% for s in stats %}
				{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.runtime }} },
			{% endfor %}
		]
	}
	]
};

var options_count = {
	animationEnabled: true,
	axisX:{
		valueFormatString: "DD MMM",
		stripLines: [
			{% for s in stats %}
				{% if s.anomaly_alert_count %}
					{
						value:new Date("{{ s.date|date:"Y-m-d" }}"),
						thickness: 50,
						color:"#ff0000",
						opacity: .3
					},
				{% endif %}
			{% endfor %}
		]
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [
	{
		type: "line",
		showInLegend: true,
		name: "#hits",
		markerType: "square",
		xValueFormatString: "DD MMM, YYYY",
		color: "#2596be",
		yValueFormatString: "#,##0",
		dataPoints: [
			{% for s in stats %}
				{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_count }} },
			{% endfor %}
		]
	}
	]
};

var options_endpoints = {
	animationEnabled: true,
	axisX:{
		valueFormatString: "DD MMM",
		stripLines: [
			{% for s in stats %}
				{% if s.anomaly_alert_endpoints %}
					{
						value:new Date("{{ s.date|date:"Y-m-d" }}"),
						thickness: 50,
						color:"#ff0000",
						opacity: .3
					},
				{% endif %}
			{% endfor %}
		]
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [
	{
		type: "line",
		showInLegend: true,
		name: "#endpoints",
		markerType: "square",
		xValueFormatString: "DD MMM, YYYY",
		color: "#2596be",
		yValueFormatString: "#,##0",
		dataPoints: [
			{% for s in stats %}
				{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_endpoints }} },
			{% endfor %}
		]
	}
	]
};

{% if c1_name %}
var options_c1 = {
	animationEnabled: true,
	axisX:{
		valueFormatString: "DD MMM"
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [
	{
		type: "line",
		showInLegend: true,
		name: "#{{ c1_name }}",
		markerType: "square",
		xValueFormatString: "DD MMM, YYYY",
		color: "#2596be",
		yValueFormatString: "#,##0",
		dataPoints: [
			{% for s in stats %}
				{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_c1 }} },
			{% endfor %}
		]
	}
	]
};
{% endif %}

{% if c2_name %}
var options_c2 = {
	animationEnabled: true,
	axisX:{
		valueFormatString: "DD MMM"
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [
	{
		type: "line",
		showInLegend: true,
		name: "#{{ c2_name }}",
		markerType: "square",
		xValueFormatString: "DD MMM, YYYY",
		color: "#2596be",
		yValueFormatString: "#,##0",
		dataPoints: [
			{% for s in stats %}
				{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_c2 }} },
			{% endfor %}
		]
	}
	]
};
{% endif %}

{% if c3_name %}
var options_c3 = {
	animationEnabled: true,
	axisX:{
		valueFormatString: "DD MMM"
	},
	toolTip:{
		shared:true
	},  
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [
	{
		type: "line",
		showInLegend: true,
		name: "#{{ c3_name }}",
		markerType: "square",
		xValueFormatString: "DD MMM, YYYY",
		color: "#2596be",
		yValueFormatString: "#,##0",
		dataPoints: [
			{% for s in stats %}
				{ x: new Date("{{ s.date|date:"Y-m-d" }}"), y: {{ s.hits_c3 }} },
			{% endfor %}
		]
	}
	]
};
{% endif %}

$("#chartContainer_runtime").CanvasJSChart(options_runtime);
$("#chartContainer_count").CanvasJSChart(options_count);
$("#chartContainer_endpoints").CanvasJSChart(options_endpoints);
{% if c1_name %}$("#chartContainer_c1").CanvasJSChart(options_c1);{% endif %}
{% if c2_name %}$("#chartContainer_c2").CanvasJSChart(options_c2);{% endif %}
{% if c3_name %}$("#chartContainer_c3").CanvasJSChart(options_c3);{% endif %}

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	e.chart.render();
}

}
</script>
</body>
</html>
